{% extends 'default.html' %}

{% block title %}
{{ flatpage.title }}
{% endblock title %}

{% block content %}
<div style="width:680px; text-align: center; margin-left: auto; margin-right: auto">
<br>
    <hr>
    <h3>Проект на Django «Портал объявлений MMORPG»</h3>
    <h3> for SkillFactory Модуль D16.7 </h3>
    <hr>
    <p class="lead">Пункты меню 'Create Post', 'My Posts', 'My Comments' и 'Responses To Me'
        должны появиться только после регистрации/авторизации пользователя </p>
    <p class="lead">Responses To Me - Страница с откликами на объявления текущего пользователя.
        Возле каждого комментария есть кнопки "Confirm" и "Delete", чтобы принять или удалить
        отклик. Если пользователь не авторизован, он не может попасть в раздел, просто набрав
        http://example.com/responses_to_me/, сайт предложит ему авторизоваться. </p>
    <p class="lead">Пока отклик не принят, он не виден никому, кроме того пользователя,
        к чьему объявлению написан отклик (комментарий). </p>
    <p class="lead">На главной странице показывается только 10 последних объявлений со всех
        категорий. </p>
    <p class="lead">Меню слева фильтрует объявления по категориям. (Танки, Хилы, Торговцы и т.п.) </p>
    <p class="lead">Раздел bbs/all показывает все объявления со всех категорий постранично в
        порядке убывания даты создания (свежие - первые). </p>
    <p class="lead">Раздел bbs/search позволяет производить поиск по объявлениям по дате, по
        автору, с поиском по определенному слову в заголовке. </p>
    <p class="lead">Посты (объявления) можно редактировать или удалить, пользователь может это
        делать только со своими объявлениями. Кнопки 'Edit Post' и 'Delete Post' появляются только
        для своих объявлений.</p>
    <p class="lead">Каждый пост можно открыть в отдельной странице, там же будут видны все
        (только принятые) отклики к нему. Если пользователь - автор некоторых откликов,
        то возле каждого такого отклика есть кнопки "Edit" и "Delete", чтобы редактировать
        или удалить отклик. </p>
    <p class="lead">В разделе "Responses To Me" видны все отклики, в том числе не принятые.
        Здесь можно принять отклик (Confirm) или удалить (Delete). В этом разделе пользователь
        может удалять отклики, автором которых он не является, так как он является автором
        объявления, к которому написан отклик (согласно техзаданию). Удалить можно даже ранее
        принятый отклик (Confirmed). Пользователь не сможет удалить чужой отклик к чужому посту,
        просто набрав bbs/24/comment/15/delete/. Встроенная проверка выдаст соответствующее
        сообщение.</p>
    <p class="lead">Объявления и отклики удаляются без возможности восстановления. </p>
    <p class="lead">Добавлены разделы 'My Posts' и 'My Comments' (их не было в ТЗ): </p>
    <p class="lead">'My Posts' - в нем все объявления текущего пользователя </p>
    <p class="lead">'My Comments' - в нем все комментарии текущего пользователя. Возле каждого
        комментария есть кнопки "Edit" и "Delete", чтобы чтобы отредактировать или удалить отклик.</p>
    <p class="lead">Если пользователь не авторизован, он не может попасть в раздел, просто набрав
    http://example.com/my_posts/ или http://example.com/my_comments/ - сайт предложит ему
        авторизоваться.</p>
    <p class="lead">Если пользователь авторизован, и просто наберет в строке браузера
        http://example.com/bbs/26/edit/ или /bbs/26/delete, он не сможет
        редактировать/удалять объявления, если они ему не принадлежат.  </p>
    <p class="lead">После создания отклика автор объявления получает email. </p>
    <p class="lead">После принятия отклика автором объявления, автор отклика получает email. </p>

</div>
{% endblock content %}