{% extends 'default.html' %}

{% block content %}
<!--from comment_all_to_me.html-->
{% if user.is_authenticated %}
<div style="display: inline-block; margin: 0;">
    <nav class="navbar navbar-expand-lg static-top">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link fw-bold" href="/bbs/create/">Create Post</a>
            </li>
            <li class="nav-item">
                <a class="nav-link fw-bold" href="/my_posts/">My posts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link fw-bold" href="/my_comments/">My comments</a>
            </li>
            <li class="nav-item">
                <a class="nav-link fw-bold active">Responses To Me</a>
            </li>
        </ul>
    </nav>
</div>
<br>
{% endif %}

<br>
<h1>All Responses To Me:</h1>
<hr>
{% if comments %}
    {% for new in news %}
        {% if new.comm_count > 0 %}
            <p class="markg small7">
            Объявление #{{ new.id }}, Категория: {{ new.catname }}.
                <i>Author: {{ new.author.authorUser.username }}</i> ::
                <b>{{ new.title }}</b> ::
                {{ new.text|truncatechars:30 }}, {{ new.datethis }}, Comments: {{ new.comm_conf_count }}</p>
            {% for comment in comments %}
                {% if new.id == comment.commentPost.id %}
                    <p class="inline-block"><b>{{ comment.text }} - </b>
                        <i> Author: {{ comment.commentUser.username }};
                            {{ comment.dateCreation|date:'d-m-Y' }}.</i>
                        {% if perms.bbs.change_comment and perms.bbs.delete_comment %}
                            {% if comment.confirmed %}
                                <i class="small">Confirmed</i>
                            {% else %}
                                <a class="inline-block" href="{% url 'comment_confirm' id1=comment.commentPost.id id2=comment.id %}">
                                    <mark>Confirm</mark></a>&nbsp;or&nbsp;
                            {% endif %}
                                <a class="inline-block" href="{% url 'comment_delete' id1=comment.commentPost.id id2=comment.id %}">
                            <mark>Delete</mark></a>
                        {% endif %}
                    </p>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
{% else %}
    <p class="inline-block"><b>Пока нет никаких откликов</b>
{% endif %}
{% endblock content %}