{% extends 'default.html' %}
{% load custom_tags %}

{% load cache %}
    {% cache 300 content %}

{% block content %}
<!--from details.html-->
{% if perms.bbs.change_post or perms.bbs.delete_post %}
    {% if user.username == new.author.authorUser.username %}
        <div style="display: inline-block; margin: 0;">
            <nav class="navbar navbar-expand-lg static-top">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-item nav-link fw-bold card" href="{% url 'post_edit' pk=new.id %}">
                            Edit Post</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-item nav-link fw-bold card" href="{% url 'post_delete' pk=new.id %}">
                            Delete Post</a>
                    </li>
                </ul>
            </nav>
        </div>
{% endif %}
{% endif %}
<br>
<h2 class="mark">{{ new.title }}</h2>
<h6 class="small7">#{{ new.id }},  {{ new.datethis }}</h6>
<h6><i>Author: {{ new.author.authorUser.username }}</i></h6>
<h6>Category: {{ new.catname }}</h6>
<p class="lead">{{ new.text }}</p>
<p><b>C o m m e n t s:  {{ new.comm_conf_count }}</b></p>
{% for comment in post_comments %}
    {% if comment.confirmed %}
        <p class="inline-block"><b>{{ comment.text }} - </b>
            <i> Author: {{ comment.commentUser.username }};
                {{ comment.dateCreation|date:'d-m-Y' }}.</i>
            {% if perms.bbs.change_comment and perms.bbs.delete_comment %}
                {% if user.username == comment.commentUser.username %}
                    <a class="inline-block" href="{% url 'comment_edit' id1=new.id id2=comment.id %}">
                        <mark>Edit</mark></a> or
                    <a class="inline-block" href="{% url 'comment_delete' id1=new.id id2=comment.id %}">
                        <mark>Delete</mark></a>
                {% endif %}
            {% endif %}
        </p>
    {% endif %}
{% endfor %}

{% if perms.bbs.add_comment %}
<div>
    <a class="nav-item nav-link fw-bold card" href='{{ new.get_absolute_url }}comment_create/'>Add comment</a>
</div>
{% endif %}

{% endblock content %}
{% endcache %}