{% extends 'default.html' %}

{% block content %}
<!--from post_delete.html-->
<br>
<h1>Delete Post</h1>
<hr>
<p>Date of Creation : {{ new.datethis }}</p>
<div class="border border-2 border-danger px-3 pt-3 pb-0">
<h2>{{ new.title }}</h2>
    <p><i>Category: {{ new.catname }}</i></p>
    <p><i>Author: {{ new.author.authorUser.username }} </i></p>
<h5>{{ new.text }}</h5>
</div>
<form action="" method="post">
    {% csrf_token %}
    <p class="inline-block">Удаляем post id={{ new.id }}?&nbsp;
    <input type="submit" class="mt-3 btn-primary" value="Delete" /></p>
</form>
{% endblock content %}